@import url('https://fonts.googleapis.com/css?family=Muli');

body {
	margin: 0;
}

* {
	font-family: 'Muli';
	background-color: whitesmoke;
	user-select: none;
}

button {
	background-color: transparent;
	color: whitesmoke;
	border: solid 1px whitesmoke;
	border-radius: 10px;
	cursor: pointer;
	padding-inline: 30px;
}
